@page "/tutorial" 
@inject Map map;

<div class="nadpis p-2 m-3 border border-dark rounded border-3">
	@this.map.Description
</div>

<div class="container pozadie border border-dark rounded border-3">
	<div class="row">

		
		<div class="col-12 col-xl-8">
			<div class="row d-flex justify-content-center m-3 position-static">
				@*Map*@
				<BeeBotMap/>
			</div>
		</div>

		<div class="col-12 col-xl-4 panel">		
				@*ComandLine*@
				<ComandLine/>
		</div>

	</div>
</div>


@code {
}
