@page "/domov" 
@inject Map map;

<div class="nadpis p-2 m-3 border border-dark rounded border-3">
	Vitaj v hre Bee-Bot
</div>

<div class="container pozadie border border-dark rounded border-3">
	<div class="row">
		Pravidla hry
	</div>
</div>


@code {
}
