@inject ControllerCommands controllerCommands

@*end of game*@
@if (this.StateOfGame == true)
{
	<div class="card m-3 border border-3 border-dark bg-success">
		<div class="card-body border-3 border-dark">
			<div class="row p-1">				
				<div class="col-10 d-flex align-items-center justify-content-center">
					Úspešne si prešiel mapou!
				</div>
				<div class="col-2 d-flex align-items-center justify-content-center">
					<i class="bi bi-x-circle" style="font-size: 2rem" @onclick="() => this.StateOfGame = null"></i>
				</div>
			</div>
		</div>
	</div>
}
else if (this.StateOfGame == false)
{
	<div class="card m-3 border border-3 border-dark bg-danger">
		<div class="card-body border-3 border-dark">
			<div class="row p-1">
				<div class="col-10 d-flex align-items-center justify-content-center">
					Skus to znovu!
				</div>
				<div class="col-2 d-flex align-items-center justify-content-center">
					<i class="bi bi-x-circle" style="font-size: 2rem" @onclick="() => this.StateOfGame = null"></i>
				</div>
			</div>
		</div>
	</div>
}

@*command panel*@
<div class="card m-3 border border-3 border-dark">
	<div class="card-body border-bottom border-3 border-dark">
		<div class="row d-flex justify-content-center p-1">
			Zadaj prikazy
		</div>
	</div>
	<div class="card-body border-bottom border-3 border-dark">
		<div class="row d-flex p-3 justify-content-center">
			<img src="images/commands/rotate_left.svg" class="command command_pick" @onclick="() => controllerCommands.AddCommand(new Command(CommandType.rotateLeft))" />
			<img src="images/commands/up.svg" class="command command_pick" @onclick="() => controllerCommands.AddCommand(new Command(CommandType.moveForward))" />
			<img src="images/commands/down.svg" class="command command_pick" @onclick="() => controllerCommands.AddCommand(new Command(CommandType.moveBack))" />
			<img src="images/commands/rotate_right.svg" class="command command_pick" @onclick="() => controllerCommands.AddCommand(new Command(CommandType.rotateRight))" />
		</div>
		<div class="row d-flex p-3 justify-content-center">
			<img src="images/commands/playl.svg" class="command command_pick" @onclick="async () => {
							if (controllerCommands.CancellationToken == null)
								await this.runProgram();
							}" />
			<img src="images/commands/stop.svg" class="command command_pick" @onclick="() => {
							controllerCommands.StopAnimation();
							this.StateOfGame = null;
							}" />
			<img src="images/commands/trash.svg" class="command command_pick" @onclick="() => {
							controllerCommands.DeleteCommands();
							this.StateOfGame = null;
							}" />
		</div>
	</div>
	<div class="card-body">
		<div class="row d-flex justify-content-center p-1">
			Zadane prikazy
		</div>
		@if (controllerCommands.Commands.Any())
		{
			<div class="row d-flex justify-content-center card-body">
				@for (var i = 0; i < controllerCommands.Commands.Count; i++)
				{
					int cisloPrikazu = i;
					Command actualCommand = controllerCommands.Commands[i];
					switch (actualCommand.Type)
					{
						case CommandType.moveForward:
						<img src="images/commands/up.svg" class="command command_remove" 
							style="@(actualCommand.Active == true ? "filter: invert(11%) sepia(61%) saturate(5810%) hue-rotate(6deg) brightness(95%) contrast(106%);" : "")" 
							@onclick="() => {
							controllerCommands.CancellationToken?.Cancel();
							controllerCommands.Commands.RemoveAt(cisloPrikazu);
							}" />
							break;
						case CommandType.moveBack:
							<img src="images/commands/down.svg" class="command command_remove"
							style="@(actualCommand.Active == true ? "filter: invert(11%) sepia(61%) saturate(5810%) hue-rotate(6deg) brightness(95%) contrast(106%);" : "")"
							@onclick="() => {
							controllerCommands.CancellationToken?.Cancel();
							controllerCommands.Commands.RemoveAt(cisloPrikazu);
							}"/>
							break;
						case CommandType.rotateLeft:
							<img src="images/commands/rotate_left.svg" class="command command_remove"
							style="@(actualCommand.Active == true ? "filter: invert(11%) sepia(61%) saturate(5810%) hue-rotate(6deg) brightness(95%) contrast(106%);" : "")"
							@onclick="() => {
							controllerCommands.CancellationToken?.Cancel();
							controllerCommands.Commands.RemoveAt(cisloPrikazu);
							}"/>
							break;
						case CommandType.rotateRight:
							<img src="images/commands/rotate_right.svg" class="command command_remove"
							style="@(actualCommand.Active == true ? "filter: invert(11%) sepia(61%) saturate(5810%) hue-rotate(6deg) brightness(95%) contrast(106%);" : "")"
							@onclick="() => {
							controllerCommands.CancellationToken?.Cancel();
							controllerCommands.Commands.RemoveAt(cisloPrikazu);
							}"/>
							break;
					}	
				}													
			</div>
		}
	</div>
</div>

@code {
	#region Overrides of ComponentBase

	protected override void OnInitialized()
	{
		base.OnInitialized();

		this.controllerCommands.OnChanged += this.StateHasChanged;
	}

	#endregion

	public bool? StateOfGame { get; set; }

	async Task runProgram()
	{
		this.StateOfGame = null;
		this.StateOfGame =  await controllerCommands.StartAnimationAsync();
		this.StateHasChanged();
	}

}