@inject ControllerMap controllerMap
@inject ControllerCommands controllerCommands

<div class="card m-3 border border-3 border-dark">
	<div class="card-body border-bottom border-3 border-dark">
		<div class="row d-flex justify-content-center">
			Zmeň mapu nahraním súboru
		</div>
	</div>
	<div class="card-body border-3 border-dark">
		<div class="row d-flex justify-content-center p-1">
			@if (isLoading)
			{
				<p>Nacitanie mapy</p>
			} else
			{
				<InputFile OnChange="LoadMap" accept=".map" />	
			}
			@if(SuccesedLoad == true)
			{
				<Message Success="true" Text="Mapa bola úspešne zmenena!" />
				@(SuccesedLoad = null);
				
			} else if (SuccesedLoad == false)
			{
				<Message Success="false" Text="Chyba pri načitani mapy!" />
				@(SuccesedLoad = null);
			}
		</div>
	</div>
</div>

@code{
	private IBrowserFile loadedFile;
	private bool isLoading;
	private bool? SuccesedLoad = null;

	async Task LoadMap(InputFileChangeEventArgs e){
		this.controllerCommands.DeleteCommands();
		this.isLoading = true;
		this.SuccesedLoad = null;
		try
		{
			loadedFile = e.File;
			Map loadedMap = await JsonSerializer.DeserializeAsync<Map>(loadedFile.OpenReadStream());
			controllerMap.ChangeMap(loadedMap);
			this.SuccesedLoad = true;
		} catch (Exception ex)
		{
			this.SuccesedLoad = false;
		}
		this.isLoading = false;
	}
}
