@inject NavigationManager NavigationManager
@inject ControllerMap ControllerMap

<div class="card m-1 border border-3 border-dark panel">
	<div class="card-body">

		<div class="d-flex justify-content-center">
			@this.Map.Name
		</div>

	</div>

	<div class="card-body border-top border-3 border-dark">
		<div class="d-flex justify-content-center">
			<img src="@this.Image" style="width: 100%; max-width: 300px; height: auto;" />
		</div>
		<div class="row mt-3">			
			<button class="btn btn-dark btn-outline-warning" @onclick="ChangeMap">
				Vybrať mapu
			</button>
		</div>	
	</div>
	
</div>

@code {
	[Parameter]
	public Map Map { get; set; }
	[Parameter]
	public string Image { get; set; }

	private void ChangeMap()
	{
		this.ControllerMap.ChangeMap(this.Map);
		NavigationManager.NavigateTo("game");
	}
}
